schemas/taskDoc.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="taskBase.xsd" />

<xs:complexType name="taskDoc">
  <xs:complexContent>
    <xs:extension base="taskBase">
      <xs:sequence>
        <xs:element name="document">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="content" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:element name="taskDoc" type="taskDoc" />

</xs:schema>